<table class="table table-responsive table-bordered table-inventory">
    <tbody>
        {% for item in items %}
            {% if forloop.first %}
                <tr>
            {% endif %}
                {% include 'profile/inventory_table_td.html' with item=item %}
            {% if forloop.counter|divisibleby:9 %}
                </tr>
                {% if items|length == 36 and forloop.counter|divisibleby:27 and not forloop.last %}
                    <tr class="hotbar">
                {% else %}
                    <tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>