{% extends "core/base.html" %}

{% block title %}Login using Minecraft Account{% endblock %}

{% block content %}
    <div class="container-fluid content">
        <div class="row justify-content-center align-items-center mt-lg-5">
            <div class="col-auto">
                <table class="table table-responsive table-bordered table-inventory">
                    <tbody>
                        {% for item in inv.armor %}
                            {% if forloop.last %}
                                <tr class="shield">
                            {% else %}
                                <tr>
                            {% endif %}
                                {% include 'profile/inventory_table_td.html' with item=item %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <img src="{{ skin_url }}" class="img-fluid img-skin mx-1 mx-lg-3">
            <div class="col-auto">
               {% include 'profile/inventory_table.html' with items=inv.inventory %}
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
              {% include 'profile/inventory_table.html' with items=ender %}
            </div>
        </div>
    </div>
{% endblock %}