html, body {
  min-height: 100vh;
}

body {
  position: relative;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/mountain.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer {
  position: absolute;
  bottom: 0;
}

.fa-twitter {
  color: #66ddee;
}

.fa-discord {
  color: #7289da;
}

.fa-twitter:hover, .fa-discord:hover {
  color: white;
}

.navbar-bg-trans {
  background: rgba(15, 18, 20, 0.8);
}

/* Classes related to displaying user inventories */
table.table-inventory {
  border:12px solid #c6c6c6;
  margin-bottom: 0;
  background-color: #8b8b8b;
}

table.table-inventory > thead > tr > th {
  border:3px solid #c6c6c6;
}

table.table-inventory > tbody > tr > td {
  border:3px solid #c6c6c6;
}

table.table-inventory > tbody > tr > td span.badge {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

table.table-inventory tr.hotbar,
table.table-inventory tr.shield {
  border-top: 12px solid #c6c6c6;
}

table.table-inventory div.progress {
  position: absolute;
  width: 100%;
  bottom: 0;
}

table.table-inventory .img-item {
  image-rendering: pixelated;
  width: 48px;
}

table.table-inventory .img-item {
  image-rendering: pixelated;
  width: 48px;
}

/* Smaller than Bootstrap medium */
@media (max-width: 767px) {
    table.table-inventory .img-item {
        width: 32px;
    }
}

.balance-badge {
  font-size: 1.4em;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
}